* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
background: #c4c1e0;
font-family: "Roboto", sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 36%;
  height: 35%;
  margin-bottom: 30px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.song-info {
padding: 2px 16px;
background: #714288;
color: white;
height: 110px;
margin-top: 30px;
}
p {
    font-size: 3vh;
}
h1 {
margin-left: 33%;
color: purple;
margin-bottom: 50px;
}