<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>songs</title>
    <link th:href="@{/songs.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <h1>Songs List</h1>
</header>
<div class="songs">
    <div class="card" th:each="songElement : ${songsList}">
        <div class="song-content">
            <h4 class="songTitle"><b>Song: <span th:text="${songElement.title}"></span></b></h4>
            <p class="songLength">Length in seconds: <span th:text="${songElement.length}"></span></p>
            <p class="songTrackNumber">trackNumber: <span th:text="${songElement.trackNumber}"></span></p>
        </div>
    </div>
</div>

</body>
</html>